@font-face {
    font-family: 'avenue';
    src: url('fonte/Avenue\ de\ Madison.ttf');

}

@font-face {
    font-family:'Gildeon' ;
    src: url('fonte/Gildeon.otf');
}

:root{

    --cor01:#46371D;
    --cor02:#F2D7B6;
    --cor03:#401E12;
    --cor04:#A66249;
    

    --font-Gildeon: 'Gildeon';
    --font-avenue:'avenue';
    --font-padrao:Arial, Verdana,Helvetica, sans-serif;
}




body{
   background-color: var(--cor02);
    font-family: var(--font-padrao);
    margin: -20px 30px -20px 30px;
}

main{
   
    background-color: white;
    border-radius: 9px;
    box-shadow: 0px 3px 8px rgba(71, 53, 1, 0.637);
    margin-top: -20px;
   
}

main h1 {

     text-align: center;
    font-family: var(--font-avenue);
    font-size: 2.5em;
    color: var(--cor02);
    text-shadow:1px 1px 1px #401e12d7;
    padding:20px 15px 15px 15px;
    margin-top: 10px;
    
}

main h2 {
    font-family: var(--font-Gildeon);
    font-weight: normal;
    color: var(--cor03);
   
    padding: 10px 10px 10px 20px;
    margin-top: 20px;


}

article p {
    margin: 30px 10px;
    text-indent: 15px;
    font-size:1,8em;
    font-family: var(--font-padrao);
    font-weight: normal ;
    line-height: 1,8em;
   

}

 .baunilha > p {
    margin: 20px;
    text-indent: 15px;
    font-size:1,8em;
    font-family: var(--font-padrao);
    font-weight: normal ;
    line-height: 1,8em;
 }


.cenoura > p{
    margin: 30px 10px 10px 10px;
    text-indent: 15px;
    font-size:1,8em;
    font-family: var(--font-padrao);
    font-weight: normal ;
    line-height: 1,8em;
    
}

strong{
    color: var(--cor03);

  
}

strong:hover {
color: var(--cor02);

}

img {
   margin:10px ;
   margin-right: 0px; 
   width: 90%;
   min-width: 350px;
   max-width: 600px;


}

.cenoura li {
    margin: 3px;
    
}

.cenoura ul {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #ffe7c5c2 ;
    margin: 13px 13px 0px 13px ;
    min-width: 350px;
    max-width: 500px;
     border-radius: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.479);
    font-size: 1em;
    line-height: 1.5em;
   
}



aside.video{

margin: 0px;
}


aside.video >iframe {

width: 400px;

padding: 20px;
margin: auto;



}
 footer{    
    text-align: center;
    background-color:#000000;
    color: #fffafacb;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 0.8em;
    padding: 3px;
   margin-top: 10px;
    border-radius: 3px;
 }

footer a {
    color: white;
    text-decoration: none;
    padding-left: 4px;

}
    
    
    a:hover {
        text-decoration: underline;
        color: #ffffff;

    }

   


