@charset "UTF-8";

    body{
        font-family: Arial, Helvetica, sans-serif;
        
    }   

    table{
        width: 500px;
       
        border-collapse: collapse;
       position: relative;
    }

        thead, tfoot{
            background-color: #383838;
            color: #ffffffad;
           
      
           
        }

        thead > tr > th {
        position: sticky;
        top: -1px;
        background-color: #383838;
        }
        
        caption{
            border: 1px solid #0000008a;
            font-size: 1.4em;
            padding: 10px;
            font-weight: bold;
            background-color: lightgray;
        }

        strong{
            color: #ffffff;
            text-shadow: 1px 1px 1px black;
        }
    
     td, th {
        border: 1px solid black;
        padding: 10px;

    }

    td#num {
        text-align: right;
    }

   tbody tr:nth-child(even) {
    background-color: lightgray;

   }
 

