@charset "UTF-8";

 body{
margin: 0px;
background: rgb(184, 184, 184);
font-family: Arial, Helvetica, sans-serif;
 }

header{
background-color: #f1efef;
margin: 8px;
padding: 8px;

border-radius: 8px;
}

h1{
font-size: 25px;
text-align: center;
font-weight: bold;
margin-top: 5px;
}


nav{
margin-left: 0px;
padding: 5px;
 background-color: darkgrey;
}

nav > a {
text-decoration: none;
margin-right: 30px;

color: rgb(255, 255, 255);
font:normal 18px  'arial'

}
nav > a:hover {
text-decoration: underline;
color: black;


}



.noticias{
background-color: #c9ffe0;
margin: 8px;
padding: 8px;
border-radius: 8px; 
font-size: 14px;

}

strong{
color: rgb(49, 201, 95);

}

article{
background-color: rgb(221, 221, 221);
padding: 8px;
margin: 8px;
font-size: 14px;
border-radius: 8px;

}

aside > p{
 font-weight: bold;
    background-color: #6e6e6e;
}
main{
 margin: 8px;
padding: 4px;

    background-color: #f1efef;
}

.preto{
color: #000000;


}


footer{
background-color: #3b3838;
font-weight: bold;
text-align: center;
padding: 5px;

}

footer > a {
 padding-right: 20px;

 }
 
 footer > p{

    margin: 0px;
 }

 .espaço{
margin-top: 2px;
padding-left: 10px;
  padding-right: 10px ;
}