@charset "UTF-8";


:root{

--font01:Verdana, Geneva, Tahoma, sans-serif;
--font02: 'Passion One', cursive;
--font03:'Sriracha';


}


body{
    margin: 0px;
    padding: 0px;

}



header{
    background-color: black;
    max-height:400px ;
    min-height: 260px;
   
    padding-top: 10px;

}
 
header h1 {
    color: white;
    font-family: var(--font02);
    text-align: center;
    font-size: 7em;
    padding-top: -50px;
    margin-top: 50px;
}

header p {
    text-align: center;
    color: white;
    margin-top: -70px;
    padding-top: -50px;
    font-size: 1.1em;
    font-family:var(--font01);
}

header a {
    color: white;
    text-decoration: none;
}

a:hover {
text-decoration: underline;

}

.normal {
    font-family: var(--font03);
    font-size: 2.8em;
    margin: 20px;
    padding: 10px;
     
}

.imagem#img01{
    background-image: url('imagens/background001.jpg');
    background-position: right center;

    
}  

section.imagem {

    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}




.imagem > p {
    font-size: 2.8em;
    font-family: var(--font03);
    padding: 5px;
    margin: 30px ;
    display: inline-block;
    background-color:  rgba(0, 0, 0, 0.514) ;
    color: white;
    text-shadow: 1px 1px 2px black;
    

}
 
.imagem#img02 {
    background-image: url('imagens/background002.jpg');
  

}

section.imagem{
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
   color: white;


}

footer{

    background-color: black;
    color: rgba(255, 255, 255, 0.568);
    text-align: center;
    font-family: var(--font01);
    font-weight: bold;
    padding: 5px;

}

footer a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.897);

}




